

/*============================
          Общие стили
=============================*/

body {
  background-color: #f2f2f2;
}

.end_space { height: 30vmin; } /* блок конца страницы */



/*============================
          Шапка
=============================*/

#nav_brand {
  font-size: 2rem;
}